.wrapper {
  background-color: #1553c5;
  height: 64px;
  width: 100%;
  display: flex;
}

.content{
    color: #fff;
    padding-top: 15px;
    padding-left: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    
    display: flex;
    align-content: center;

}

.user{
  display: flex;
  width: 120px;
    height: 30px;
    margin-top: 11px;
    margin-left: 1100px;
}
.admin{
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}
.item-admin{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2563eb;
  color: #fff;

}