.wrapper {
  padding: 30px;
  position: relative;
}
.header-content {
  font-size: 1.3rem;
  font-weight: 500;
}
.box {
  padding-top: 10px;
}
.content {
  padding-bottom: 10px;
  font-size: 1.22rem;
  font-weight: 500;
  color: #475569;
}
.input {
  padding-left: 10px;
  height: 30px;
  width: 400px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
}
.item {
  font-size: 1rem;
  font-weight: 500;
  color: #64748b;
  padding-top: 5px;
}
.main {
  padding-top: 10px;
}
.submit-content {
  font-size: 1.1rem;
  font-weight: 500;
}
.footer {
  padding-top: 15px;
}

.submit {
  display: flex;
  justify-content: space-between;
}
.submit-yn {
  padding: 5px;
  margin-right: 50px;
}

.switch {
  width: 60px;
  height: 30px;
  border-radius: 999px;
  background-color: #94a3b8; // màu nâu
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  &.on {
    background-color: #3b82f6; // màu xanh
  }
}

.slider {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s;

  .on & {
    left: 32px;
  }
}

.btn-submit {
  display: flex;
  position: absolute;
  top: 98%;
  right: 5%;

}
.btn-clear {
  background-color: #f1f5f9;
    color: #000;
    &:hover{
        background-color: #e8e7e7;
    }
}

.btn-saver {
  background-color: #3b82f6;
  color: #fff;
  &:hover{
    background-color: #5c99fb;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
