:root{
    --input: #eaeaea;
}
.wrapper{
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.main{
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 60px;
    width: 450px;
    background-color: var(--input);
    position: relative;

}
.main-icon{

}
.icon{

}
.input{
    right: 0;
    border-radius: 10px;
    position: absolute;
    display: flex;
    align-content: center;
    outline: none;
    border: none;
    background-color: var(--input);
    width: 400px;
    padding: 5px;
    height: 50px ;
    font-size: 1.6rem;
    font-weight: 500;

}
.icon{
    color: #ccc;
}